body {
    color: #566787;
    background: #f5f5f5;
    font-family: "Open Sans", sans-serif;
}
.contact-form {
    padding: 50px;
    margin: 30px 0;
}
.contact-form h1 {
    text-transform: uppercase;
    margin: 0 0 15px;
}
.contact-form .form-control, .contact-form .btn  {
    min-height: 38px;
    border-radius: 2px;
}
.contact-form .btn-primary {
    min-width: 150px;
    background: #299be4;
    border: none;
}
.contact-form .btn-primary:hover {
    background: #1c8cd7; 
}
.contact-form label {
    opacity: 0.9;
}
.contact-form textarea {
    resize: vertical;
}

.bs-example {
    margin: 20px;
}
.required:after {
    content:" *";
    color: red;
  }
 .form-group input,.form-group select {
  background: transparent;
  border: none;
  border-bottom: 1px solid grey;
  color: black;
  width: 100%;
  font-family: "Monsterrat", sans-serif;
  font-size: 1em;
  padding: 8px;
  transition: all 0.5s;
}


form input:focus {
  background-color: rgb(22, 22, 22);
  color: white;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
hr.new1 {
  border-top: 3px solid black;
}